body { background: #70c4ff; }
input[type="text"] { width: 100%; }
header { margin-bottom: 2em; }
.hidden { display: none; }
.integer { text-align: right; }

.container{
  background: #fff;
  padding-bottom: 1em;
}

header h1{
  float: left;
}

.nav-link{
  padding: 1rem 1rem;
}

.search-form {
  background: #fff;
  box-shadow: 2px 2px 2px #444343;
  margin-top: 50px;
  padding: 25px 0;
  border-radius: 3px;
}

.results{
  margin-top: 12px;
  background: #fff;
}

.results .titles {
  border-bottom: 2px solid #dad2d2;
  padding: 9px 0;
}

.results .titles div { font-size: 18px; }

.result { padding: 6px 0; }
.result:hover { background: #c5ffef; }
